<nav id="navbar" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/"><i class="fas fa-rocket"></i> AI-CareerGuide</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars menu-icon"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/" onclick="showPage('dashboard')"><i class="fas fa-home"></i>
              Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="showPage('questionnaire')"><i class="fas fa-clipboard-list"></i>
              Career Test</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="showPage('suggestions')"><i class="fas fa-lightbulb"></i>
              Suggestions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="showPage('goals')"><i class="fas fa-bullseye"></i> Goals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="showPage('reports')"><i class="fas fa-chart-bar"></i> Reports</a>
          </li>
          <li class="nav-item mr-3">
            <a class="nav-link" href="#" onclick="showPage('resources')"><i class="fas fa-book"></i> Resources</a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="btn btn-light mr-3" style="margin-right: -20px;">
              <i class="bi bi-person-circle"></i>
              <span>
                {{#if user}}{{user.Name}}{{else}}Account{{/if}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>